<div class="layout-container">
  <div class="side-menu">
    <mat-action-list>
      <button mat-list-item (click)="activePage=page" *ngFor="let page of pages">{{page}}</button>
    </mat-action-list>
  </div>
  <div class="content">
    <ng-container [ngSwitch]="activePage">
      <ng-container *ngSwitchCase="'Animation'">
        <app-animation></app-animation>
      </ng-container>
      <ng-container *ngSwitchCase="'Force Analysis'">
        <app-force-analysis></app-force-analysis>
      </ng-container>
      <ng-container *ngSwitchCase="'Theory'">
        To Do
      </ng-container>
    </ng-container>
  </div>
</div>
